
  
  .card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 10px 10px;
    margin: 20px 0;
  }
  
  .card:nth-child(odd) {
    align-self: flex-end;
  }
  
  .card-text {
    font-size: 28px;
    color: #fff;
  }
  